{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "strict": ["error", "function"]
  },
  "globals": {
    "document",
    "window",
    "lightbox"
  }
}
