/*
=======================================================
BUTTONS
=======================================================
*/

.btn {
  color: #fff;
  padding: 0 1em;
  line-height: 2.7;
  border-radius: 4px;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: linear-gradient(to top, #2152b9 0%, #4d7ce0 100%);
}

.btn:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: '';
  border-radius: 4px;
  position: absolute;
  box-shadow: inset 0 0 0 2px #4d7ce0;
}

.btn-outline:not(:hover) {
  background: none;
}
