/*
=======================================================
BUTTONS
=======================================================
1. Base Styles
2. Sucess Buttons
3. Info Buttons
4. Warning Buttons
5. Danger Buttons
6. Outline Buttons
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.btn {
  background-color: #afafaf;
  border: solid 2px #afafaf;
  border-radius: 4px;
  display: inline-block;
  height: 2.7em;
  line-height: 2.5;
  padding: 0 1em;
  vertical-align: middle;
  white-space: normal;
}

/*
-------------------------------------------------------
6. Outline Buttons
-------------------------------------------------------
*/

button,
.btn-outline {
  background-color: transparent;
}
