/*
=======================================================
BUTTONS
=======================================================
*/

.btn {
  color: #fff;
  padding: 0 1em;
  height: 2.65em;
  line-height: 2.65;
  border-radius: 4px;
  position: relative;
  vertical-align: top;
  display: inline-block;
  background-color: #2152b9;
  background: linear-gradient(to top, #2152b9 0%, #4d7ce0 100%);
}

@-moz-document url-prefix() {
  .btn {
     line-height: 2.57em;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .btn {
     line-height: 2.57em;
  }
}

@media only screen and (max-width: 768px) {

  .btn {
    line-height: 2.75;
  }

}

.btn-outline:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: '';
  border-radius: 4px;
  position: absolute;
  border: 2px solid #4d7ce0;
}

.btn-outline:not(:hover) {
  background: none;
}
