/*
=======================================================
Form Elements
=======================================================
1. Base Styles
2. Custom Select Arrow
3. Custom Checkbox/Radio
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

select,
textarea,
input:not(.btn) {
  background-color: #fff;
  border: solid 1px #cecece;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

select,
input:not(.btn) {
  height: 2.7em;
  padding: 0 0.6em;
}

textarea {
  padding: 0.6em;
  overflow-y: auto;
  resize: none;
}

select:focus,
textarea:focus,
input:not(.btn):focus {
  border-color: #909090;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
