/*
=======================================================
GRID
=======================================================
1. Grid Wrapper
2. Row
3. Columns Vertical Align
4. Columns Sizing
5. Medium/MD Resolutions (max. 992px)
6. Small/SM Resolutions (max. 768px)
7. Extra Small/XS Resolutions (max. 480px)
=======================================================
*/

/*
-------------------------------------------------------
1. Grid Wrapper
-------------------------------------------------------
*/

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

/*
-------------------------------------------------------
2. Row
-------------------------------------------------------
*/

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: auto;
}

.row:not(.no-gutter),
.row:not(.no-gutter) > [class*='col-'] {
  padding: 0.7em;
}

.row-centered {
  justify-content: center;
}

/*
-------------------------------------------------------
3. Columns Vertical Align
-------------------------------------------------------
*/

.col-vcenter {
  -webkit-align-self: center;
  align-self: center;
}

.col-vbottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.col-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
}

/*
-------------------------------------------------------
4. Columns Sizing
-------------------------------------------------------
*/

.col-1 {width: 8.333333333333333%;}
.col-2 {width: 16.66666666666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333333333333%;}
.col-5 {width: 41.66666666666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333333333333%;}
.col-8 {width: 66.66666666666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333333333333%;}
.col-11 {width: 91.66666666666666%;}
.col-12 {width: 100%;}

/*
-------------------------------------------------------
5. Medium/MD Resolutions (max. 992px)
-------------------------------------------------------
*/

@media only screen and (max-width: 992px) {

  .md-1 {width: 8.333333333333333%;}
  .md-2 {width: 16.66666666666667%;}
  .md-3 {width: 25%;}
  .md-4 {width: 33.3333333333333%;}
  .md-5 {width: 41.66666666666667%;}
  .md-6 {width: 50%;}
  .md-7 {width: 58.3333333333333%;}
  .md-8 {width: 66.66666666666666%;}
  .md-9 {width: 75%;}
  .md-10 {width: 83.33333333333333%;}
  .md-11 {width: 91.66666666666666%;}
  .md-12 {width: 100%;}

}

/*
-------------------------------------------------------
6. Small/SM Resolutions (max. 768px)
-------------------------------------------------------
*/

@media only screen and (max-width: 768px) {

  .sm-1 {width: 8.333333333333333%;}
  .sm-2 {width: 16.66666666666667%;}
  .sm-3 {width: 25%;}
  .sm-4 {width: 33.3333333333333%;}
  .sm-5 {width: 41.66666666666667%;}
  .sm-6 {width: 50%;}
  .sm-7 {width: 58.3333333333333%;}
  .sm-8 {width: 66.66666666666666%;}
  .sm-9 {width: 75%;}
  .sm-10 {width: 83.33333333333333%;}
  .sm-11 {width: 91.66666666666666%;}
  .sm-12 {width: 100%;}

}

/*
-------------------------------------------------------
7. Extra Small/XS Resolutions (max. 480px)
-------------------------------------------------------
*/

@media only screen and (max-width: 480px) {

  .xs-1 {width: 8.333333333333333%;}
  .xs-2 {width: 16.66666666666667%;}
  .xs-3 {width: 25%;}
  .xs-4 {width: 33.3333333333333%;}
  .xs-5 {width: 41.66666666666667%;}
  .xs-6 {width: 50%;}
  .xs-7 {width: 58.3333333333333%;}
  .xs-8 {width: 66.66666666666666%;}
  .xs-9 {width: 75%;}
  .xs-10 {width: 83.33333333333333%;}
  .xs-11 {width: 91.66666666666666%;}
  .xs-12 {width: 100%;}

}
