/*
=======================================================
HELPERS
=======================================================
1. Floating
2. Position
3. Display
4. Spacers
5. Padding
6. Sizing
7. Misc
8. Z-Index
9. Hide/Show
=======================================================
*/

/*
-------------------------------------------------------
1. Floating
-------------------------------------------------------
*/

.fleft {
  float: left;
}

.fright {
  float: right;
}

.fnone,
.vcenter {
  float: none;
}

.clear {
  clear: both;
}

/*
-------------------------------------------------------
2. Position
-------------------------------------------------------
*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/*
-------------------------------------------------------
3. Display
-------------------------------------------------------
*/

.block {
  display: block;
}

.inline {
  display: inline;
}

.label,
.vcenter,
.inline-block {
  display: inline-block;
}

/*
-------------------------------------------------------
6. Sizing
-------------------------------------------------------
*/

.btn,
.auto-size,
.auto-width {
  width: auto;
}

.auto-size,
.auto-height {
  height: auto;
}

input,
select,
textarea,
.full-size,
.full-width {
  left: 0;
  right: 0;
  width: 100%;
}

.full-size,
.full-height {
  top: 0;
  bottom: 0;
  height: 100%;
}

/*
-------------------------------------------------------
7. Misc
-------------------------------------------------------
*/

img {
  max-width: 100%;
}

hr {
  border: 0;
  height: 1px;
}

.hide-overflow {
  overflow: hidden;
}

.label,
.vcenter {
  vertical-align: middle;
}

input,
select,
textarea,
.smooth-transition {
  transition: all 0.3s;
}

.label {
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
}

/*
-------------------------------------------------------
8. Z-Index
-------------------------------------------------------
*/

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

/*
-------------------------------------------------------
9. Hide/Show
-------------------------------------------------------
*/

.hide,
.show-md,
.show-sm,
.show-xs {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
}

@media only screen and (max-width: 992px) {

  .show-md {
    position: static;
    left: 0;
    top: 0;
    visibility: visible;
  }

  .hide-md {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
  }

}

@media only screen and (max-width: 768px) {

  .show-sm {
    position: static;
    left: 0;
    top: 0;
    visibility: visible;
  }

  .hide-sm {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
  }

}

@media only screen and (max-width: 480px) {

  .show-xs {
    position: static;
    left: 0;
    top: 0;
    visibility: visible;
  }

  .hide-xs {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
  }

}
