/*
=======================================================
LAYOUT
=======================================================
1. Base Styles
2. Gallery
3. Modal
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.wrapper {
  max-width: 50em;
  padding: 1em;
}

header {
  color: #fff;
  height: 32em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../../dist/svg/bg-header.svg');
}

@media only screen and (max-width: 768px) {

  .wrapper {
    padding: 1em 2em;
  }

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header {
     background-attachment: inherit;
  }
}

header:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: '';
  position: absolute;
  background-color: #313b51;
  background: linear-gradient(to top, #313b51 0%, #161b24 100%);
}

header h1 {
  font-size: 3em;
  line-height: 100%;
}

header h2 {
  font-weight: 400;
  font-size: 1.3em;
}

main .wrapper {
  margin: 2em auto;
}

footer {
  color: #fff;
  font-size: 90%;
  padding: 2em 0;
  margin-top: 2em;
  text-align: center;
  background-color: #313b51;
}

/*
-------------------------------------------------------
2. Gallery
-------------------------------------------------------
*/

.gallery-item {
  display: inline-block;
  width: 16.66666666666667%;
}

.gallery-item img {
  vertical-align: middle;
}

/*
-------------------------------------------------------
3. Modal
-------------------------------------------------------
*/

.modal-content {
  padding: 1.5em;
  border-radius: 0.5em;
  display: inline-block;
  background-color: #fff;
}

.modal-content input {
  margin-top: 1em;
}

.modal-content .btn {
  width: 100%;
}
