/*
=======================================================
MAIN NAVIGATION
=======================================================
1. Base Styles
2. Main Navigation
3. Navigation Button
4. Mobile Navigation
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.main-nav-wrapper {
  text-align: right;
}

.main-nav li ul {
  display: none;
}

.main-nav a {
  display: block;
  padding: 0.6em 1em;
}

.menu-item-has-children > a {
  padding-right: 3em;
  position: relative;
}

.menu-item-has-children > a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  content: '';
  padding: 0.35em;
  background: url('../../dist/svg/icon-arrow.svg') no-repeat right;
}

/*
-------------------------------------------------------
2. Main Navigation
-------------------------------------------------------
*/

@media only screen and (min-width: 993px) {

  .main-nav > ul > li {
    display: inline-block;
  }

  .main-nav li {
    position: relative;
  }

  .main-nav li ul {
    position: absolute;
    text-align: left;
    white-space: nowrap;
  }

  .main-nav li ul ul {
    top: 0;
    left: 100%;
  }

  .main-nav li:hover > ul {
    display: block;
  }

  .main-nav li:hover > a {
    background-color: #0d6788;
  }

  li .menu-item-has-children > a:after {
    transform: rotate(-90deg);
  }

}

/*
-------------------------------------------------------
3. Navigation Button
-------------------------------------------------------
*/

.nav-btn {
  background: url('../../dist/svg/icon-menu.svg') no-repeat center;
  height: 1.5em;
  width: 1.5em;
}

.main-nav-is-active + .nav-btn {
  background-image: url('../../dist/svg/icon-close.svg');
}

@media only screen and (max-width: 992px) {

  .main-nav-is-active + .nav-btn {
    position: relative;
    z-index: 2;
  }

}

/*
-------------------------------------------------------
4. Mobile Navigation
-------------------------------------------------------
*/

@media only screen and (max-width: 992px) {

  .main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 18em;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    text-transform: uppercase;
    background-color: #1d1d1d;
    z-index: 3;
  }

  .main-nav a {
    padding: 1.5em;
  }

  .main-nav-is-active {
    left: 0;
  }

  .menu-item-has-children > a:after {
    right: 1.5em;
    padding: 0.5em;
  }

  .main-nav .menu-item-is-active > ul {
    display: block;
  }

  .menu-item-is-active > a {
    background-color: #0d6788;
  }

  .menu-item-is-active > a:after {
    transform: rotate(180deg);
  }

}

@media only screen and (max-width: 480px) {

  .main-nav {
    width: 75%;
  }

}
