/*
=======================================================
Typography
=======================================================
1. Font Family/Height
2. Font Size
3. Font Color
4. Misc/Effects
=======================================================
*/

/*
-------------------------------------------------------
1. Font Family/Height
-------------------------------------------------------
*/

.btn,
body,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/*
-------------------------------------------------------
2. Font Size
-------------------------------------------------------
*/

.btn,
body,
input,
select,
textarea {
  font-size: 1em;
}

small {
  font-size: 0.8em;
}

@media only screen and (max-width: 768px) {

  body {
    font-size: 90%;
  }

}

/*
-------------------------------------------------------
3. Font Color
-------------------------------------------------------
*/

body {
  color: #222;
}

a {
  color: inherit;
}

/*
-------------------------------------------------------
4. Misc/Effects
-------------------------------------------------------
*/

.text-block {
  line-height: 180%;
}

.btn,
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

a,
.btn:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
